html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #e8e1d7;
  color: #333;
  padding: 0;
  margin: 0;           /* <-- MAKE SURE THIS IS 0! */
  box-sizing: border-box;
}

* {
  box-sizing: inherit; /* Universal border-box */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  padding: 20px;       /* Instead of margin on body, apply padding here if you want */
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-mode {
  margin-bottom: 15px;
  text-align: center;
}

#filters {
  margin-bottom: 15px;
  text-align: center;
}

#filters select {
  margin: 0 10px 10px 0;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  
}

th {
  background-color: #e5e0d8;
}

tr.selected {
  background-color: #d4f7d4;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}



button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
 border-radius: 12px !important;
}

footer {
  flex-shrink: 0;
  background: white;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 0;
}

.secondary-buttons{
    margin-top:12px;
    display:flex;
    justify-content:center;
    gap:12px;
}

.secondary-buttons button{
    font-size:.85rem;
    padding:6px 14px;
}

#questionsTable th:first-child,
#questionsTable td:first-child {
    width: 40px;
    max-width: 40px;
}

#questionsTable th:nth-child(2),
#questionsTable td:nth-child(2),
#questionsTable th:nth-child(3),
#questionsTable td:nth-child(3) {
    width: 80px;
    max-width: 80px;
}


#questionsTable th:last-child,
#questionsTable td:last-child,
#questionsTable th:nth-last-child(2),
#questionsTable td:nth-last-child(2) {
    width: 80px;
    max-width: 80px;
}

/* Responsive */
@media (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }
  #filters select {
    margin: 5px 0;
    width: 90%;
  }
  button {
    width: 90%;
    margin: 8px 0;
  }
}

